html,body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    color: #fff;
    cursor: pointer;    
}

table {
    margin: 0px;
    padding: 0px;
}

#content {
    position: relative;
    z-index: 0;
    width: 340px;
}

#bar {
    position: relative;
    z-index: 1000;
    height: 56px;
}

#barLeft {
    background: url('images/bar-left.png') no-repeat;
    width: 28px;
    height: 56px;
}

#barSelector {
    background: url('images/bar-bg.png') repeat-x;
    height: 56px;
    width: 205px;
}

#selectorImage {
    position: absolute;
    top: 14px;
    z-index: 1020;
}

#selectorText {
    position: absolute;
    top: 19px;
    left: 35px;
    font-size: 0.8em;
    z-index: 1030;
    color: #fff;
}

#config_blogid {
    position: absolute;
    top: 15px;
    left: 28px;
    width: 200px;
    height: 25px;
    z-index: 1040;
    opacity: 0.0;
    -apple-dashboard-region: dashboard-region(control rectangle);
}

#barButtons {
    background: url('images/bar-bg.png') repeat-x;
    height: 56px;
}

div.button {
    cursor: default;
    display: inline;
}

#buttonNewPost {
    display: none;
}

#barRight {
    width: 28px;
    height: 56px;
    background: url('images/bar-right.png') no-repeat;
}

/*********************** Form Related ***********************/

#form {
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 100;
    opacity: 0.0;

    display: none;
    width: 320px;
}

td.formMiddle {
    padding: 10px 5px 0px 5px;
    background-color: #bbf;
    font-size: 0.8em;
}

td.formFooter {
    padding: 0px;
    margin: 0px;
    height: 12px;
    border-top: 1px dotted #aaf;
    background-color: #88c;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 100px;
    height: 100%;
}

#formBody {
    width: 100%;
    height: 100%;
}

#flipper {
    position: relative;
    left: 4px;
    opacity: 0.0;
}

#fliprollie {
    position: relative;
    left: -12px;
    opacity: 0.0;
}

#resize {
    -apple-dashboard-region: dashboard-region(control rectangle);
}

#blogSpinner {
    display: none;
}

/*********************** Error Related ***********************/

#error {
    position: absolute;
    z-index: 1000;
    font-size: 0.8em;
    margin: auto auto auto auto;
    left: 10%;
    right: 10%;
    width: 80%;

    background-color: #d88;
    border-top:    2px solid #fcc;
    border-left:   2px solid #fcc;
    border-bottom: 2px solid #855;
    border-right:  2px solid #855;
    display: none;
}

div.errorTitle {
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 10px;
}

div.errorBody {
    overflow: auto;
    height: 150px;
    margin: 10px;
}

/*********************** Success Related ***********************/

#successmsg {
    position: absolute;
    opacity: 0.0;
    z-index: 2000;
    font-size: 1em;
    margin: auto auto auto auto;
    left: 10%;
    right: 10%;
    width: 80%;
    top: 40%;
    height: 20px;
    background-color: #8d8;
    color: #fff;
    font-weight: bold;
    display: none;
    padding: 5px 0px 0px 0px;
    text-align: center;
    border-top:    2px solid #cfc;
    border-left:   2px solid #cfc;
    border-right:  2px solid #585;
    border-bottom: 2px solid #585;
}

/*********************** Config Related ***********************/

#config {
    display: none;
    width: 320px;
    height: 248px;
    min-height: 320px;
    background: url('images/config-background.png') no-repeat;
}

#configForm {
    position: relative;
    width: 290px;
    left: 15px;
    height: 224px;
    top: 7px;
    color: #fff;
    font-size: 0.8em;
}

#aboutText {
    width: 220px;
    font-size: 0.7em;
    float: left;
}

#buttonDone {
    position: relative;
    top: 17px;
    float: right;
}
